@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

#logo{
    text-align: center;
    color: black;
}

#navbar{
    background-color: rgb(93, 155, 212);
}
.carousel-item img{
    display: block;
    margin: auto;
    max-height: 400px;
}